ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_LOGIN_URL=https://ecoskat.bumerang.tech/admin/dashboard
ADMIN_DATA_URL=https://ecoskat.bumerang.tech/admin/car

AVAILABLE_CARS_API_URL=https://ecoskat.bumerang.tech/api/v7/avaliableCars
AVAILABLE_CARS_AUTH_HEADER=x-api-key
AVAILABLE_CARS_API_TOKEN=

SERVER_PORT=3001
CACHE_TTL_SECONDS=60
DATA_TABLE_PAGE_SIZE=500
